---
layout: default
title: Blog
permalink: /blog/
---
<p class="intro">all posts, newest first.</p>

<div class="card-grid">
{% for post in site.posts %}
<div class="card">
  <div class="card__meta">
    <span class="stamp">post</span>
    <span class="card__date">{{ post.date | date: "%d.%m.%Y" }}</span>
  </div>
  <h2 class="card__title"><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h2>
  <p class="card__excerpt">{{ post.excerpt | strip_html | truncatewords: 28 }}</p>
  {% if post.tags.size > 0 %}
    <div class="stack">
      {% for tag in post.tags %}<span class="stack__item">{{ tag }}</span>{% endfor %}
    </div>
  {% endif %}
  <a class="card__more" href="{{ post.url | relative_url }}">read more &rarr;</a>
</div>
{% else %}
<div class="card">
  <p class="card__excerpt">No posts yet. Check back soon!</p>
</div>
{% endfor %}
</div>
